$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #2c3e50 !default;
$gray-900: #2c3e50 !default;

$blue:    #406ab3 !default;
$blue-footer: #116089 !default;
$indigo:  #6610f2 !default;
$purple:  #60315F !default;
$pink:    #A21B93 !default;
$red:     crimson !default;
$orange:  #FF991D !default;
$tangerine: #ea712d !default;
$yellow:  #cfc80e !default;
$green:   #1DA986 !default;
$teal:    #20c997 !default;
$cyan:    #27cbde !default;

$a:				$pink !default;
$primary:       $pink !default;
$secondary:     $gray-600 !default;
$success:       $teal !default;
$info:          $indigo !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

